[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scholarly="*"
jupyter="*"
requests="*"
selenium="*"
beautifulsoup4="*"
openai="*"
python-dotenv="*"
google-auth="*"
google-auth-oauthlib="*"
google-auth-httplib2="*"
google-api-python-client="*"
supabase-py="*"

[dev-packages]

[requires]
python_version = "3.*"
