[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests="*"
openai="*"
python-dotenv="*"
pandas="*"
resend="*"
bs4="*"
favicon="*"
extract_favicon="*"
markdown="*"
boto3="*"
jinja2="*"
supabase = "*"

[dev-packages]

[requires]
python_version = "3.*"
PIPENV_VERBOSITY=-1
